[Unit]
Description=xbanish hide the mouse
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/xbanish -t 3
Restart=on-failure

[Install]
WantedBy=multi-user.target
