/* Hide top tab bar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}

/* Hide the "Tree Style Tab" header at the top of the sidebar For only Tree Style Tab sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Firefox 140.0 introduced the sidebar-panel instead of above mentioned sidebar-box */
#sidebar-panel-header {
  display: none !important;
}
